@media screen and (max-width: 992px) {
    .select-animation:hover::before{
        width: 0%;
    }
}
@media screen and (max-width: 768px) {
    .main-text{
        font-size: 42px;
        line-height: 1.2;
    }
    .sec-text{
        font-size: 24px;
    }
}
@media screen and (max-width: 576px) {
    .mt-xs{
        margin-top: 30px;
    }
}